gamemodes/mywork.amx
filterscripts/*.amx
scriptfiles/*
scriptfiles/Logs/*.log
scriptfiles/Logs/*.txt
server_log.txt
include/pawn.ico
new_customints.txt
cmds_real.txt
cmds.txt
*.bat
filterscripts/testdraw.pwn
